
<header class= "navbar navbar-fixed-top navbar-inverse">
  <div class= "container">
    <%= link_to "PhotoGram", root_path, class: "btn btn-lg btn-success", id: :"logo" %>
    <dev class= "nav_item">
      <%= link_to "link-1", "", class: "btn btn-default btn-warning" %>
    </dev>
    <dev class= "nav_item">
      <%= link_to "link-1", "", class: "btn btn-default btn-warning" %>
    </dev>
    <dev class= "nav_item">
      <%= link_to "link-1", "", class: "btn btn-default btn-warning" %>
    </dev>
    <dev class= "nav_item">
      <%= link_to "Upload", new_photo_path, class: "btn btn-default btn-warning" %>
    </dev>
  </div>
</header>